@import "variables.scss";
@import "mixins.scss";

body {
    overflow-x: hidden;
}

.text-muted {
    color: $gray-light;
}

.text-primary {
    color: $theme-primary;
}

p {
    font-size: 14px;
    line-height: 1.75;
}

p.large {
    font-size: 16px;
}

a,
a:hover,
a:focus,
a:active,
a.active {
    outline: none;
}

a {
    color: $theme-primary;
}

a:hover,
a:focus,
a:active,
a.active {
    color: darken($theme-primary, 10%);
}

h1, h2, h3, h4, h5, h6 {
    @include heading-font;
    font-weight: 700;
}

.img-centered {
    margin: 0 auto;
}

.bg-light-gray {
    background-color: $gray-lighter;
}

.bg-darkest-gray {
    background-color: $gray-darker;
}

.btn-primary {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
}

.btn-xl {
    @include button-variant(white, $theme-primary, $theme-primary);
    @include heading-font;
    font-weight: 700;
    border-radius: 3px;
    font-size: 18px;
    padding: 20px 40px;
    margin-bottom: 10px; 
}

.navbar-custom {
    background-color: $gray-darker;
    border-color: transparent;
    .navbar-brand {
        color: $theme-primary;
        @include script-font;
        &:hover,
        &:focus,
        &:active,
        &.active {
            color: darken($theme-primary, 10%);
        }
    }
    .navbar-collapse {
        border-color: fade-out(white, .02);
    }
    .navbar-toggle {
        background-color: $theme-primary;
        border-color: $theme-primary;
        @include heading-font;
        color: white;
        font-size: 12px;
        &:hover,
        &:focus {
            background-color: $theme-primary;
        }
    }
    .nav {
        li {
            a {
                @include heading-font;
                font-weight: 800;
                font-size: 1.1em;
                letter-spacing: .3px;
                color: white;
                &:hover,
                &:focus {
                    color: $theme-primary;
                    outline: none;
                }
            }
        }
    }
    .navbar-nav>.active>a {
        border-radius: 0;
        color: white;
        background-color: $theme-primary;
    }
    .navbar-nav>.active>a:hover,
    .navbar-nav>.active>a:focus {
        color: white;
        background-color: darken($theme-primary, 10%);
    }
}

@media(min-width:768px) {
    .navbar-custom {
        background-color: transparent;
        padding: 25px 0;
        -webkit-transition: padding 0.3s;
        -moz-transition: padding 0.3s;
        transition: padding 0.3s;
        border: none;
        .navbar-brand {
            font-size: 2em;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
        }
        .navbar-nav>.active>a {
            border-radius: 3px;
        }
    }
}

@media(min-width:768px) {
    .navbar-custom.affix {
        background-color: $gray-darker;
        padding: 10px 0;
        .navbar-brand {
            font-size: 1.5em;
        }
    }
}

header {
    background-image: url('../images/header-bg.jpg');
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position: center center;
    @include background-cover;
    text-align: center;
    color: white;
    .intro-text {
        padding-top: 100px;
        padding-bottom: 50px;
        .intro-lead-in {
            font-style: italic;
            font-size: 22px;
            line-height: 22px;
            margin-bottom: 25px;
        }
        .intro-heading {
            @include heading-font;
            font-weight: 700;
            font-size: 50px;
            line-height: 50px;
            margin-bottom: 25px;
        }
    }
}

@media(min-width:768px) {
    header {
        .intro-text {
            padding-top: 300px;
            padding-bottom: 200px;
            .intro-lead-in {
                font-style: italic;
                font-size: 40px;
                line-height: 40px;
                margin-bottom: 25px;
            }
            .intro-heading {
                @include heading-font;
                font-weight: 700;
                font-size: 75px;
                line-height: 75px;
                margin-bottom: 50px;
            }
        }
    }
}

section {
    padding: 50px 0;
    h2.seccion-encabezado {
        font-size: 40px;
        margin-top: 0;
        margin-bottom: 15px;
    }
    h3.seccion-subencabezado {
        font-size: 16px;
        text-transform: none;
        font-style: italic;
        font-weight: 400;
        margin-bottom: 75px;
    }
}

@media(min-width:768px) {
    section {
        padding: 50px 0;
    }
}

.filosofia-encabezado {
    margin: 15px 0;
    text-transform: none;
}



@media(min-width:767px) {
    #portfolio {
        .portfolio-item {
            margin: 0 0 30px;
        }
    }
}

.timeline {
    list-style: none;
    padding: 0;
    position: relative;
    &:before {
        top: 0;
        bottom: 0;
        position: absolute;
        content: "";
        width: 2px;
        background-color: $theme-primary;
        left: 40px;
        margin-left: -1.5px;
    }
    > li {
        margin-bottom: 50px;
        position: relative;
        min-height: 50px;
        &:before,
        &:after {
            content: " ";
            display: table;
        }
        &:after {
            clear: both;
        }
        .timeline-panel {
            width: 100%;
            float: right;
            padding: 0 20px 0 100px;
            position: relative;
            text-align: left;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        .timeline-image {
            left: 0;
            margin-left: 0;
            width: 80px;
            height: 80px;
            position: absolute;
            z-index: 100;
            background-color: $theme-primary;
            color: white;
            border-radius: 100%;
            border: 7px solid #f1f1f1;
            text-align: center;
            h4 {
                font-size: 10px;
                margin-top: 12px;
                line-height: 14px;
            }
        }
        

        &.timeline-inverted > .timeline-panel {
            float: right;
            text-align: left;
            padding: 0 20px 0 100px;
            &:before {
                border-left-width: 0;
                border-right-width: 15px;
                left: -15px;
                right: auto;
            }
            &:after {
                border-left-width: 0;
                border-right-width: 14px;
                left: -14px;
                right: auto;
            }
        }
        &:last-child {
            margin-bottom: 0;
        }
    }
    .timeline-heading {
        h4 {
            margin-top: 0;
            color: inherit;
            &.subheading {
                text-transform: none;
            }
        }
    }
    .timeline-body {
        > p,
        > ul {
            margin-bottom: 0;
        }
    }
}

@media(min-width:768px) {
    .timeline {
        &:before {
            left: 50%;
        }
        > li {
            margin-bottom: 100px;
            min-height: 100px;
            .timeline-panel {
                width: 41%;
                float: left;
                padding: 0 20px 20px 30px;
                text-align: right;
            }
            .timeline-image {
                width: 100px;
                height: 100px;
                left: 50%;
                margin-left: -50px;
                h4 {
                    font-size: 13px;
                    margin-top: 16px;
                    line-height: 18px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                float: right;
                text-align: left;
                padding: 0 30px 20px 20px;
            }
        }
    }
}

@media(min-width:992px) {
    .timeline {
        > li {
            min-height: 150px;
            .timeline-panel {
                padding: 0 20px 20px;
            }
            .timeline-image {
                width: 150px;
                height: 150px;
                margin-left: -75px;
                h4 {
                    font-size: 18px;
                    margin-top: 30px;
                    line-height: 26px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 20px 20px;
            }
        }
    }
}

@media(min-width:1200px) {
    .timeline {
        > li {
            min-height: 170px;
            .timeline-panel {
                padding: 0 20px 20px 100px;
            }
            .timeline-image {
                width: 170px;
                height: 170px;
                margin-left: -85px;
                h4 {
                    margin-top: 40px;
                }
            }
            &.timeline-inverted > .timeline-panel {
                padding: 0 100px 20px 20px;
            }
        }
    }
}

.equipo-miembro {
    text-align: center;
    margin-bottom: 50px;
    img {
        margin: 0 auto;
        border: 7px solid white;
    }
    h4 {
        margin-top: 25px;
        margin-bottom: 0;
        text-transform: none;
    }
    p {
        margin-top: 0;
    }
}


#ubicanos {
    background-color: $gray-darker;
    background-image: url('../images/map-image.png');
    background-position: center;
    background-repeat: no-repeat;
    .seccion-encabezado {
        color: white;
    }
}

footer {
    padding: 25px 0;
    text-align: center;
    span.copyright {
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
    ul.quicklinks {
        margin-bottom: 0;
        line-height: 40px;
        @include heading-font;
        text-transform: none;
    }
}

ul.social-buttons {
    margin-bottom: 0;
    li {
        a {
            display: block;
            background-color: $gray-darker;
            height: 40px;
            width: 40px;
            border-radius: 100%;
            font-size: 20px;
            line-height: 40px;
            color: white;
            outline: none;
            -webkit-transition: all 0.3s;
            -moz-transition: all 0.3s;
            transition: all 0.3s;
            &:hover,
            &:focus,
            &:active {
                background-color: $theme-primary;
            }
        }
    }
}

.btn:focus,
.btn:active,
.btn.active,
.btn:active:focus {
    outline: none;
}

::-moz-selection {
    text-shadow: none;
    background: $theme-primary;
}

::selection {
    text-shadow: none;
    background: $theme-primary;
}

img::selection {
    background: transparent;
}

img::-moz-selection {
    background: transparent;
}

body {
    -webkit-tap-highlight-color: $theme-primary;
}

.carousel{
    margin-bottom: 15px;
    .carousel-caption{
        width: 100%;
        background: rgba($gray-base, 0.8) !important;
        bottom:0px;
        text-align:left;
        padding:10px;
        left:0px;
        h4{
            margin-top: 0;
        }
    }

    .carousel-inner{
        .item {
            img{
              padding:0px;
              background:$theme-primary;
              -webkit-transition: all 0.4s ease;
              -moz-transition: all 0.4s ease;
              -ms-transition: all 0.4s ease;
              -o-transition: all 0.4s ease;
              transition: all 0.4s ease;
              &:hover{
                -webkit-transform: scale(1.2) rotate(-7deg);
                -moz-transform: scale(1.2) rotate(-7deg);
                -ms-transform: scale(1.2) rotate(-7deg);
                -o-transform: scale(1.2) rotate(-7deg);
                transform: scale(1.2) rotate(-7deg);
              }
            }
        }
    }
}

.timeline-image-o {
    @extend .timeline-image;
    border: 7px solid $gray-darker !important;
    background-color: $gray-dark !important;
    display: flex;
    justify-content: center;
    align-items:center;
    h4{
        margin: 0 !important;
        font-weight: 800;
        font-size: 1.1em;
        letter-spacing: 1px;
    }
}


#noticias {
    .panel-noticias-anteriores {
        max-height: 500px;
        overflow-y: scroll;
        .carta-noticia {
            padding: 15px;
            background-color: #fafafa;
            border-left: 6px solid $theme-primary;
            margin-bottom: 10px;
            -webkit-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
               -moz-box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
                    box-shadow: 0 5px 8px -6px rgba(0,0,0,.2);
            p{
                color: $gray-light;
                i{
                    color: $gray-darker;
                }
            }
        }
    }
    .noticia-item {
       margin: 0 0 15px;
       right: 0;
    .noticia-link {
        display: block;
        position: relative;
        margin: 0 auto;
        .noticia-hover {
            cursor: pointer;
            //background: fade-out($theme-primary, .3);
            position: absolute;
            width: 100%;
            height: 100%;
            opacity: 0;
            transition: all ease 0.5s;
            -webkit-transition: all ease 0.5s;
            -moz-transition: all ease 0.5s;
            &:hover {
                opacity: 1;
            }
            .noticia-hover-content {
                position: absolute;
                width: 100%;
                height: 20px;
                font-size: 20px;
                text-align: center;
                top: 50%;
                margin-top: -40px;
                color: white;
                i {
                    margin-top: -12px;
                }
                h3,
                h4 {
                    margin: 0;
                }
            }
        }            
       }
    }
    * {
        z-index: 2;
    }
}

.noticia-modal {
    .modal-dialog{
        margin: 0;
        height: 100%;
        width: auto;
    }
    .modal-content {
        border-radius: 0;
        background-clip: border-box;
        -webkit-box-shadow: none;
        box-shadow: none;
        border: none;
        min-height: 100%;
        h2.noticia-modal-titulo {
            margin: 0;
            font-size: 3em;
            text-align: center;
        }
        p.noticia-modal-resumen {
            margin: 0 0 15px;
            font-style: italic;
            font-size: 16px;
            text-align: center;
        }
        div.noticia-modal-cuerpo{
            margin-bottom: 20px;
        }
        ul.list-inline {
            margin: 0 0 30px;
        }
        img.noticia-modal-imagen{
            margin-bottom: 30px;
        }
    }
    .noticia-modal-cerrar-div {
        text-align: center;
        padding: 0 0 50px;
    }
    .close-modal {
        cursor: pointer;
        &:hover {
            color: $gray-dark;
        }        
    }
    .modal-backdrop {
        opacity: 0;
        display: none;
    }
}